* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

header {
    width: 1920px;
    height: 1322px;
    left: 0px;
    top: 0px;
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.banner {
    text-align: center;
}

.banner-title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;

}

.btn-explore {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FF900E;
    cursor: pointer;
}

.img-banner {
    margin-top: 50px;
    width: 1440px;
    height: 700px;
    left: 240px;
    top: 577px;
}